.platforms {
	width: 100%;
	height: 770px;
	background: #4D0C49;
    margin-top: 115px;
    margin-bottom: 45px;


	h3 {
		color: #FFFFFF !important;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	p {
		font-size: 16px !important;
		line-height: 24px !important;
		color: rgba(#FFF,0.60) !important;

		strong {
			color: #FFFFFF !important;
		}
	}
}
