.card {
  position: relative;
  border-radius: 3px;
  background-color: #fff;
  color: #4f5256;
  border: 1px solid rgba(0,0,0,.12);
}

.card__body {
  position: relative;
  padding: 16px;

  &--p-45 {
  	padding: 45px;
  }
}

.container-bordered {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
}

.card__body-number {
  font-size: 24px;
  line-height: 32px;
  padding:0;
  margin:0;
}

.card__body-caption {
  padding:0;
  margin:0;
}

.card__body-sparkline {
}
